input {
    width: 400px;
}
.error {
    display: inline-block;
    padding: 5px;
    background-color: rgba(93, 0, 0, 0.38);
    border: 1px solid rgba(93, 0, 0, 0.69);
    margin: 10px 0;
}
.error-wrapper {
    display: none;
}

.progress-holder {
    margin-top: 10px;
    display: none;
}
.progress-holder .uploaded {
    margin-left: 5px;
}
.icon {
    margin-left: 5px;
    margin-right: 10px;
}

#data-holder {
    margin-top: 20px;
}
#data-holder div span {
    margin-right: 5px;
}